# The configuration file for trade converter
#

#
# config for the logging section
#
[logging]
log_file=tc.log

# log level: debug, info, warning, error, critical
log_level=debug

# the directory to store log file, if store in current directory, leave it empty.
# do not put "\" at the end of the directory.
directory=
# directory=C:\Program Files\Git\git



[excel]

# Excel datemode for windows is 0, for mac is 1
datemode = 0



[input]

# the directory to look for input trade files or folder. Leave it empty
# if in current directory.
#directory=C:\Users\steven.zhang\Desktop\data conversion\ListCo Equity 12307
#directory=C:\Users\shutao\Desktop\data conversion\ListCo Equity 12307
#directory=C:\Users\steven.zhang\Desktop\data conversion\CLO Bond
#directory=C:\Users\steven.zhang\Desktop\data conversion\CLO Equity
directory=C:\temp